Repository EC-CUBE/ec-cube, pull requests merged in 2019-01, with the labels that each got.

#4064 セキュリティ設定画面での.envファイルのチェックするように変更
  src/Eccube/Controller/Admin/Setting/System/SecurityController.php
  src/Eccube/Resource/locale/messages.en.yaml
  src/Eccube/Resource/locale/messages.ja.yaml
Labels: Status: ready-for-merge, bug:Low

#4051 割引明細のポイント処理追加
  src/Eccube/Service/PurchaseFlow/Processor/AddPointProcessor.php
Labels: Status: ready-for-merge, bug:Low

#4066 fix #4063 エンティティ拡張の自動出力
  src/Eccube/Resource/template/admin/Product/category.twig
Labels: Status: ready-for-merge, affected:admin_template, affected:plugin, enhancement

#4060 注文受付メールの消費税の記載を削除
  src/Eccube/Resource/template/default/Mail/order.html.twig
  src/Eccube/Resource/template/default/Mail/order.twig
Labels: Status: ready-for-merge, affected:template, bug:Low

#4047 有効化したプラグインが無効と判定されてしまうのを修正
  src/Eccube/DependencyInjection/EccubeExtension.php
Labels: Status: ready-for-merge, bug:High

#4015 UI broken when pagingnation appears
  src/Eccube/Resource/template/admin/Product/index.twig
Labels: Status: ready-for-merge, affected:admin_template, bug:Low

#4044 cs-fixerを適用
  app/DoctrineMigrations/Version20181017090225.php
  app/DoctrineMigrations/Version20181109101907.php
  codeception/_support/Page/Admin/PluginManagePage.php
  codeception/acceptance/EA10PluginCest.php
  codeception/acceptance/_bootstrap.php
  src/Eccube/Command/ComposerRequireAlreadyInstalledPluginsCommand.php
  src/Eccube/Command/GenerateDummyDataCommand.php
  src/Eccube/Controller/Admin/Content/MaintenanceController.php
  src/Eccube/Controller/Admin/Content/NewsController.php
  src/Eccube/Controller/Admin/Content/PageController.php
  src/Eccube/Controller/Admin/Product/CategoryController.php
  src/Eccube/Controller/Admin/Product/ProductController.php
  src/Eccube/Controller/Admin/Store/OwnerStoreController.php
  src/Eccube/Controller/Admin/Store/PluginController.php
  src/Eccube/Controller/Install/InstallController.php
  src/Eccube/DependencyInjection/EccubeExtension.php
  src/Eccube/Entity/Cart.php
  src/Eccube/Entity/ItemHolderInterface.php
  src/Eccube/Entity/Order.php
  src/Eccube/Form/Extension/DoctrineOrmExtension.php
  src/Eccube/Form/Type/Admin/MemberType.php
  src/Eccube/Repository/BaseInfoRepository.php
  src/Eccube/Repository/LayoutRepository.php
  src/Eccube/Repository/PageRepository.php
  src/Eccube/Security/Http/Authentication/EccubeAuthenticationFailureHandler.php
  src/Eccube/Service/PluginService.php
  src/Eccube/Service/SystemService.php
  src/Eccube/Twig/Extension/CartServiceExtension.php
  src/Eccube/Twig/Extension/EccubeExtension.php
  src/Eccube/Util/CacheUtil.php
  src/Eccube/Util/EntityUtil.php
Labels: Status: ready-for-merge
